@use '../abstracts/variables' as *;
@use '../abstracts/mixin' as *;
nav{
  .hamb{
    width: 35px;
    height: 24px;
    right: 3%;
    top:60px;
    z-index: 5;
    background: transparent;
    position: absolute;
    cursor:pointer;
    display: none;



    span {
      display: block;
      background-color: $primary;
      width:100%;
      height: 3px;
      transition: .3s;
      transition-property: transform,opactity;
      &:nth-child(2){
        margin: 7px 0px;
      }
    }
    @include app{
      display: initial;
    }
  }

  .nav-list {
    list-style:none;


    @include app{
      position: absolute;
      top:90px;
      right: -65%;
      bottom: 0;
      width: 60%;
      height: 50%;
      background: black;
      z-index: 2;
      padding: 6% 9%;
      transition: .3s right;
      border-radius: 10px;
    }
    li{
      display: inline-block;
      @include app{
        display: block;
      }
      
      a {
        display: inline-block;
        text-decoration: none;
        color:$text-color;
        margin-left: 55px;
        font-weight: 600;
        font-size: 15px;
        @include app {
          display: block;
          text-align: center;
          font-weight: 400;
          margin-left: 0;
          margin-bottom: 40px;
          font-size: 18px;
        }
      }
      &:not(:last-child) a:hover {
        color:$primary;
        transition: .4s;
      }
      &.btn a{
        display: inline-block;
        background: transparent;
        border: 2px solid $primary;
        padding:9px 28px;
        border-radius: 30px;
        line-height: 1.3;
        color:$primary;
        font-weight: 500;
        @include app {
          position: absolute;
          bottom: 0%;
          right:20%;
          left: 20%;
          padding: 7px 15px;
          font-size: 14px;
        }
      }
      &.btn:hover a {
        background: $primary;
        color:white;
        border: 2px solid transparent;
        transition: .4s;
      }
    }
  }
}
